.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  padding: 0 45px;
}

.logo {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto 30px;
  padding: 0;
}

.login-form {
  width: 100%;
}

.login-form-submit {
  display: block;
  margin: 25px auto 0;
}

.agree-terms {
  font-size: 12px;
  text-align: center;
  margin-top: 35px;
}
