.register-wrapper {
  background-image: linear-gradient(white, var(--background));
  min-height: 100%;
}

.register-content-wrapper {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-title {
  font-size: 22px;
  margin-bottom: 50px;
  text-align: center;
}

.submit-button {
  margin: 100px auto 0;
  display: block;
}

/*Dori*/
