.home-page-wrapper h1 {
  color: var(--text);
  font-size: 30px;
  text-align: center;
  margin: 6vh 0 8vh 0;
}

.home-show-trips p {
  margin: 0 0 5vh 2vh;
  color: var(--text);
  font-size: 20px;
}

.home-render-trips {
  margin: 0 4vh;
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  justify-content: center;
  row-gap: 30px;
  column-gap: 50px;
}
