.small-pin {
  width: 150px;
  position: relative;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}

.small-pin-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.small-pin::after {
  display: block;
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.small-pin-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
