.pinBoardsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 20px;
  justify-content: space-between;
  background-color: #f6f6f6;
  row-gap: 30px;
  position: relative;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 1px 3px 6px var(--shadow);
  height: 500px;
  overflow: scroll;
}

.picked-pins-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 30px;
  height: min-content;
  gap: 20px;
}
