.pin-board-wrapper > img {
  width: 100%;
  position: absolute;
}

.pin-board-wrapper {
  position: relative;
  height: 200px;
  width: 300px;
}

.pin-board-wrapper > img:nth-of-type(2) {
  left: 30px;
}

.pin-board-wrapper > img:nth-of-type(3) {
  left: 40px;
}
