.pin-card-wrapper {
  background: #ffff;
  flex-direction: column;
  display: inline-block;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 3px 6px var(--shadow);
  height: 200px;
  width: 140px;
  margin: 5px 10px 5px 10px;
}

.pin-image {
  width: 120px;
  height: 90px;
  object-fit: cover;
  padding: 8px;
  border-radius: 15px;
}
.pin-name-box p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pin-name {
  font-size: 15px;
}

.pin-location {
  font-size: 12px;
  margin-top: 15px;
}
