:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  color: var(--text);
  background-image: linear-gradient(white, var(--background));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --orange: #fe6500;
  --selected: #f9a166;
  --navigation: #355959;
  --background: #adcaca;
  --darkgrey: #4e4e4e;
  --lightgrey: #9c9c9c;
  --text: rgb(25, 25, 25);
  --shadow: rgba(54, 54, 54, 0.59);
}

.orange {
  background-color: var(--orange);
}

.selected {
  color: var(--selected);
}

.navigation {
  color: var(--navigation);
}

.darkgrey {
  color: var(--darkgrey);
}

.lightgrey {
  color: var(--lightgrey);
}

.text {
  color: var(--text);
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Papyrus';
  src: url('../fonts/PAPYRUS.ttf');
  font-weight: 10;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.primary-button {
  display: block;
  margin: 25px auto 0;
  background-color: var(--orange);
  box-shadow: 1px 3px 6px var(--shadow);
}

.discover-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-title {
  font-size: 20px;
  margin-left: 12px;
  margin-top: 15px;
}

.dataResult::-webkit-scrollbar {
  height: 8px;
}

.dataResult::-webkit-scrollbar-thumb,
.dataResult::-webkit-scrollbar-track {
  border-radius: 92px;
}

.dataResult::-webkit-scrollbar-thumb {
  background: var(--lightgrey);
}
